<footer>
    <div class="footer_container">
        <div class="footer_who-we-are">
            <h4>Who we are</h4>
            <div class="footer_logo">
                <a href="#top"><img src="img\footer\who-we-are\footer-logo.png" alt="footer_logo"></a>
            </div>
            <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque
                eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
            <h5>More about us</h5>
        </div>
        <div class="footer_latest-works">
            <h4>Latest works</h4>
            <div class="footer_latest-works_image-container">
                <div>
                    <div><img src="img\footer\latest-works\grand-motel.png" alt="grand-motel"></div>
                    <div><img src="img\footer\latest-works\tv.png" alt="tv"></div>
                    <div><img src="img\footer\latest-works\record-mackop.png" alt="record-mackop"></div>
                    <div><img src="img\footer\latest-works\mobile.png" alt="mobile"></div>
                </div>
                <div>
                    <div><img src="img\footer\latest-works\grand-motel.png" alt="grand-motel"></div>
                    <div><img src="img\footer\latest-works\tv.png" alt="tv"></div>
                    <div><img src="img\footer\latest-works\record-mackop.png" alt="record-mackop"></div>
                    <div><img src="img\footer\latest-works\mobile.png" alt="mobile"></div>
                </div>
            </div>
        </div>
        <div class="footer_get-in-touch">
            <h4>Get in touch</h4>
            <p> Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea
                autem inisita.</p>
            <ol>
                <li><span>84 Street, City, State 24813</span></li>
                <li><span>&#43;00 &#40;123&#41; 456 78 90</span></li>
                <li><span>info&#64;reen.com</span></li>
            </ol>
        </div>
    </div>
    <div class="footer_footer-ending_container">
        <div class="footer_footer-ending">
            <h1>&#169; 2014 REEN. All rights reserved.</h1>
            <h1><span>Home</span>&#160;&#160;&#160;&#183;&#160;&#160;&#160;<span>Portfolio</span>&#160;&#160;&#160;&#183;&#160;&#160;&#160;<span>Blog</span>&#160;&#160;&#160;&#183;&#160;&#160;&#160;<span>About</span>&#160;&#160;&#160;&#183;&#160;&#160;&#160;<span>Services</span>&#160;&#160;&#160;&#183;&#160;&#160;&#160;<span>Contact</span>
            </h1>
        </div>
    </div>
</footer>