<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-inverse">
                <!-- navbar-background -->
                <div class="container-fluid  navbar-background">

                    <a class="col-md-2 col-sm-2" href="index.html" alt="Brand">
                        <img alt="Brand" src="img\header\logo_metropol_hotel_light.png">
                    </a>

                    <button style="border: none" class="navbar-toggle col-md-1" data-toggle="collapse"
                        data-target="#responsive-menu" id="icon-hamburger">
                        <img src="img\header\icon_hamburger.png" alt="">
                    </button>

                    <div class="collapse navbar-collapse col-md-8 col-sm-8" id="responsive-menu">
                        <ul class="nav navbar-nav">
                            <li><a class="text-uppercase" href="catalog.html">
                                    <p>Каталог номеров</p>
                                </a></li>
                            <li><a class="text-uppercase" href="#">
                                    <p>Фотографии</p>
                                </a></li>
                            <li><a class="text-uppercase" href="aboutUs.html">
                                    <p>О нас</p>
                                </a></li>
                            <li><a class="text-uppercase" class="btn btn-primary" role="button" data-toggle="modal"
                                data-target=".bs-example-modal-lg">
                                    <p>Забронируйте прямо сейчас</p>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
