
    <header>
        <div class="navbar-header">
            <div class="navbar-header_contact">
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn"></button>
                    <div id="myDropdown" class="dropdown-content">
                        <ul>
                            <li class="nav_home">
                                <span>home</span>
                            </li>
                            <li class="nav_portfolio">
                                <span>portfolio</span>
                            </li>
                            <li class="nav_blog">
                                <span>Blog</span>
                            </li>
                            <li class="nav_pages">
                                <span>Pages</span>
                            </li>
                            <li class="nav_features">
                                <span>Features</span>
                            </li>
                            <li class="nav_mega-menu">
                                <span>Mega Menu</span>
                            </li>
                            <li class="nav_contact">
                                <span>Contact</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-header_contact_mail">
                    <p type="email">info&#64;reen.com</p>
                </div>
                <div class="navbar-header_contact_number">
                    <p type="tel">&#43;00 &#40;123&#41; 456 78 90</p>
                </div>
            </div>
            <div class="navbar-header_social">
                <ol>
                    <li class="navbar-header_social_ol_facebook"><a href="https://www.facebook.com"
                            target="newframe"><img src="img/header/icon_facebook.png" alt="icon_facebook"></a>
                    </li>
                    <li class="navbar-header_social_ol_gplus"><a href="https://ru.wikipedia.org/wiki/Google%2B"
                            target="newframe1"><img src="img/header/icon_gplus.png" alt="icon_gplus"></a></li>
                    <li class="navbar-header_social_ol_twitter"><a href="https://twitter.com" target="newframe2"><img
                                src="img/header/icon_twitter.png" alt="icon_twitter"></a>
                    </li>
                    <li class="navbar-header_social_ol_pinterest"><a href="https://www.pinterest.com"
                            target="newframe3"><img src="img/header/icon_pinterest.png" alt="icon_pinterest"></a>
                    </li>
                    <li class="navbar-header_social_ol_behance"><a href="https://www.behance.net"
                            target="newframe4"><img src="img/header/icon_behance.png" alt="icon_behance"></a>
                    </li>
                    <li class="navbar-header_social_ol_dribbble"><a href="https://dribbble.com" target="newframe5"><img
                                src="img/header/icon_dribbble.png" alt="icon_dribbble"></a>
                    </li>
                </ol>
            </div>
        </div>
    </header>
