<div id="hellopreloader">
    <div id="hellopreloader_preload"></div>
</div>
<script type="text/javascript">
        var hellopreloader = document.getElementById("hellopreloader");

    function fadeOut(el) {
        el.style.opacity = 1;
        var interhellopreloader = setInterval(function () {
            el.style.opacity = el.style.opacity - 0.04;
            if (el.style.opacity <= 0.04) {
                clearInterval(interhellopreloader);
                hellopreloader.style.display = "none";
            }
        }, 4);
    }
    window.onload = function () {
        setTimeout(function () {
            fadeOut(hellopreloader);
        }, 500);
    };
</script>