// Ilya - область для кода ниже
@font-face {
    font-family: "agenda-light";
    src: url("../fonts/agenda-light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.btn-scrollUp {
    position: fixed;
    bottom: 22px;
    right: 22px;
}

.header {
    margin-bottom: 20px;
}

.container-for-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #830051;

    a {
        display: block;
    }

    @media (min-width: 0px) and (max-width: 450px) {
        flex-direction: column;
    }
}


.navbar-background {
    background-image: url('../img/header/logo_metropol_hotel_light.png');
    background-repeat: no-repeat;
    background-position: left center;
    height: 120px;
    width: 120px;
    margin: 0 15px;
}

.footer_footer-ending {
    background-color: #830051;
}

header p,
.footer_footer-ending h6 {
    color: #fff;
    font-size: 12x;
}

.footer_footer-ending h6 {
    padding: 10px 15px 8px;
}

footer ol li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

footer .container .row {
    margin: 40px 0;
}

.navbar-nav {
    margin-top: 10px;
}

#responsive-menu {
    @media (min-width: 1200px) and (max-width: 10000px) {
        margin: 0 auto;
    }
}

#icon-hamburger {
    margin: 0 7px 0 0;
    position: absolute;
    right: 7px;

    @media (min-width: 0px) and (max-width: 450px) {
        margin: 40px 7px 0 0;
    }
}

header button:hover {
    background: #5a0038 !important;
    border-radius: 25%;
    order: 2;
    position: absolute;
    right: 7px;
}

.preview {
    margin: 40px 0;

    @media (min-width: 0px) and (max-width: 600px) {
        margin: 10px 0;
    }

    span {
        font-family: "agenda-light";
        font-size: 36px;
        color: #830051;
        font-weight: bold;
    }

    a {
        font-family: "agenda-light";
        font-size: 16px;
        color: black;
        font-weight: bold;
    }
}

.specialOffer a {
    font-family: "agenda-light";
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.preview-tabs-banner {
    font-family: "agenda-light", sans-serif;
    font-size: 24px;
    color: #cf0072;
    font-weight: bold;
    margin: 15px 0 0;
    text-transform: uppercase;
}

.preview-tabs-banner-big {
    font-family: "agenda-light";
    font-size: 40px;
    color: #cf0072;
    text-transform: uppercase;
}

.small-preview {
    font-family: "agenda-light", sans-serif;
    font-size: 18px;
    color: #cf0072;
    font-weight: bold;
    margin: 10px 0 5px 10px;
    text-transform: uppercase;
}

#tab-1 h1,
#tab-2 h1,
.specialOffer h2 {
    font-family: "agenda-light";
    font-size: 40px;
    color: #830051;
    text-transform: uppercase;
    margin: 40px 0 20px;
}

.specialOffer h2 {
    @media (min-width: 295px) and (max-width: 450px) {
        font-size: 30px;
    }

    @media (min-width: 0px) and (max-width: 295px) {
        font-size: 25px;
    }

}

.fitness-center,
.restaurants-bars {
    overflow-y: auto;
    height: 1450px;

    @media (min-width: 0px) and (max-width: 991px) {
        display: none;
    }
}

.carousel-parent {
    @media (min-width: 991px) {
        display: none;
    }

    #carousel-restaurants-bars,
    #carousel-fitness-center {
        @media (min-width: 730px) and (max-width: 991px) {
            width: 640px;
        }
    }
}

.tab-content img {
    margin: 0 0 5px;

    @media (min-width: 0px) and (max-width: 991px) {
        margin: 0;
    }
}

.fitness-center::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.restaurants-bars::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.tabs {
    padding: 60px 0;

    @media (min-width: 0px) and (max-width: 600px) {
        padding: 30px 0;
    }
}

.tabs>ul>li {
    background-color: rgba(128, 128, 128, 0.24);
}

.tabs>ul>li>a {
    font-family: "agenda-light";
    font-size: 18px;
    color: #830051;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 250px;
    height: 70px;
    padding: 20px 0 0 0;
}

#footer-logo {
    @media (max-width: 620px) {
        display: none;
    }
}

#footer-info {
    @media (min-width: 540px) and (max-width: 620px) {
        font-size: 12px;
    }

    @media (min-width: 50px) and (max-width: 540px) {
        font-size: 10px;
        padding: 0;

        ol {
            padding: 0;
        }
    }
}

.footer_footer-ending h6 {
    @media (min-width: 200px) and (max-width: 495px) {
        font-size: 10px;
    }

    @media (max-width: 405px) {
        display: none;
    }
}

// Artiom - область для кода ниже

table {
    border: 2px ridge #830051;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

td {
    border: 2px ridge #830051;
}

.accommodation {
    background: #f9eea4;
}

.especially-role-background a[role="button"] {
    background: #830051 !important;
    border: none !important;
}

.especially-role-background-index a[role="button"] {
    background: #83005180 !important;
    border: none;
}

.main {
    h1 {
        text-align: center;
    }

    h3 {
        margin: 0;
    }
}

.description {
    font-size: 18px;
}

// Vlad - область для кода ниже
.about_text {
    background: rgb(247, 245, 245);
    padding: 20px;
    height: 250px;
    border: 1px solid rgb(206, 203, 203);

}

.img_aboutUs {
    width: 100%;
    height: auto;
}

.carousel_block {
    margin: 5px 0;
}

.aboutUs_info {
    margin: 100px 0;

    h3 {
        color: goldenrod;
        font-weight: bolder;
        margin: 0 0 10px 0 !important;
    }

    p {
        color: grey;
    }
}

.btn-default {
    margin-left: 22px;
}

.carousel_control_size {
    height: 600px;

    @media (min-width: 992px) and (max-width: 1199px) {
        height: 490px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        height: 380px;
    }

    @media (max-width: 767px) {
        height: 380px;
    }

    @media(max-width: 480px) {
        height: 237px;
    }

    @media (max-width: 320px) {
        height: 150px;
    }
}

.text_p {
    font-size: 18px;
    opacity: 0.8;


    @media(max-width: 767px) {
        font-size: 12px;
    }

    @media(max-width: 540px) {
        font-size: 10px;
    }

    @media(max-width: 480px) {
        font-size: 8px;
    }
}

.title_h3 {
    color: rgb(201, 174, 23);
    font-size: 42px;
    font-weight: bolder;

    @media(max-width:480px) {
        font-size: 26px;
    }
}

.carousel_text {
    text-align: center;
    width: 800px;
    margin: 20px auto;

    @media (min-width: 992px) and (max-width: 1199px) {
        width: 700px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        width: 700px;
    }

    @media (max-width: 767px) {
        width: 500px;
    }

    @media(max-width: 480px) {
        width: 200px;
    }

    @media (max-width: 320px) {
        width: 200px;
    }
}

@media(max-width: 480px) {
    .aboutUs_info h3 {
        font-size: 22px;
    }

    .aboutUs_info p {
        font-size: 7px;
    }

    .about_text {
        height: 170px !important;
    }
}

@media (max-width: 320px) {
    .aboutUs_info h3 {
        font-size: 14px;
    }

    .aboutUs_info p {
        font-size: 7px;
    }

    .about_text {
        height: 170px !important;
    }
}

//Vlad offer style
.specialOffer {
    h2 {
        color: #830051;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        font-weight: bold;
    }

    a {
        color: rgb(68, 68, 68);
        font-size: 12.5px;
        font-weight: bold;
    }

    a:hover {
        color: #830051;
    }
}

.newlayd {
    h3 {
        color: rgb(107, 106, 106);
    }

    p {
        font-size: 15px;
    }

    li {
        font-size: 16px;
    }
}

.glyphicon {
    color: white;
}

.loaylty {
    h3 {
        color: rgb(107, 106, 106);

    }

    h4 {
        color: goldenrod;
        font-size: 22px;
    }

    p {
        font-size: 15px;
        color: black;
    }

    li {
        font-size: 16px;
    }
}

.business {
    h3 {
        color: rgb(107, 106, 106);

    }

    p {
        font-size: 15px;
        color: black;
    }

    li {
        font-size: 16px;
    }

}

.panel-body {
    padding: 0px !important;

    form {
        background: #830051 !important;

        h1 {
            text-align: center;
            padding: 10px 0 20px 0;
            margin-top: 0px !important;
        }

        .coment {
            padding: 0 0 15px 15px;

            button {
                background: #f9eea4 !important;
            }
        }

        color: #fff !important;
    }

    .btn {
        width: 160px !important;
    }

    textarea {
        resize: none;
        color: black;
    }
}