@font-face {
    font-family: "agenda-light";
    src: url("../fonts/agenda-light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    outline: 0 !important;
}

.btn-scrollUp {
    position: fixed;
    bottom: 75px;
    right: 22px;
    background-color: rgba(131, 0, 81, 0.5);
    border-radius: 25%;
    transition: .3s linear;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 25%;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;

        span {
            display: block;
            height: 3px;
            width: 12px;
            border-radius: 10px;
            background-color: white;
        }

        span:first-child {
            margin-right: -2.5px;
            transform: rotate(-45deg);
        }

        span:last-child {
            margin-left: -2.5px;
            transform: rotate(-135deg);
        }
    }
}

.btn-scrollUp:hover {
    background-color: #830051;
    transition: .3s linear;
}

.invisible {
    display: none;
}

.opacityNone {
    opacity: 0;
}

.header {
    margin-bottom: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.container-for-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #830051;
    justify-content: center;

    a {
        display: block;
    }

    @media (min-width: 0px) and (max-width: 450px) {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.navbar-background {
    background-image: url('../img/header/logo_metropol_hotel_light.png');
    background-repeat: no-repeat;
    background-position: left center;
    height: 120px;
    width: 120px;
    margin: 0 15px;
    cursor: pointer;
}

.footer_footer-ending {
    background-color: #830051;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header p,
.footer_footer-ending h6 {
    color: #fff;
    font-size: 12x;
}

.footer_footer-ending h6 {
    padding: 10px 8px;
}

footer ol li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

footer .container .row {
    margin: 40px 0;
}

.navbar-nav {
    li {
        a {
            p {
                margin-bottom: 0;
                color: #fff;
            }
        }

        a:hover {
            background-color: rgba(46, 6, 39, 0.137);
            border-radius: 10px;
            box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.5);

            @media (min-width: 0px) and (max-width: 767px) {
                background-color: rgba(0, 0, 0, 0);
                border-radius: 0;
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }
        }
    }
}

#responsive-menu {
    border-color: #830051;
}

#icon-hamburger {
    margin: 0 7px 0 0;
    position: absolute;
    right: 7px;

    @media (min-width: 0px) and (max-width: 450px) {
        margin: 40px 7px 0 0;
    }
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #c4017900 !important;
}


.preview {
    margin: 40px 0;

    @media (min-width: 0px) and (max-width: 600px) {
        margin: 10px 0;
    }

    span {
        font-family: "agenda-light";
        font-size: 36px;
        color: #830051;
        font-weight: bold;
    }

    a {
        font-family: "agenda-light";
        font-size: 16px;
        color: black;
        font-weight: bold;
    }
}

.specialOffer a {
    font-family: "agenda-light";
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.preview-tabs-banner {
    font-family: "agenda-light", sans-serif;
    font-size: 24px;
    color: #cf0072;
    font-weight: bold;
    margin: 15px 0 0;
    text-transform: uppercase;
}

.preview-tabs-banner-big {
    font-family: "agenda-light";
    font-size: 40px;
    color: #cf0072;
    text-transform: uppercase;
}

.small-preview {
    font-family: "agenda-light", sans-serif;
    font-size: 18px;
    color: #cf0072;
    font-weight: bold;
    margin: 10px 0 5px 10px;
    text-transform: uppercase;
}

#tab-1 p,
#tab-2 p,
footer,
.footer_footer-ending,
ul>li {
    font-family: "agenda-light";
    font-size: 16px;
}

#tab-1 h1,
#tab-2 h1,
.specialOffer h2 {
    font-family: "agenda-light";
    font-size: 40px;
    color: #830051;
    text-transform: uppercase;
    margin: 40px 0 20px;
}

#tab-2 h3 {
    font-family: "agenda-light";

    @media (max-width: 455px) {
        font-size: 18px;
        padding: 0 0 10px;
    }
}

.specialOffer h2 {
    @media (min-width: 295px) and (max-width: 450px) {
        font-size: 30px;
    }

    @media (min-width: 0px) and (max-width: 295px) {
        font-size: 25px;
    }

}

.fitness-center,
.restaurants-bars {
    overflow-y: auto;
    height: 1450px;

    @media (min-width: 0px) and (max-width: 991px) {
        display: none;
    }
}

.carousel-parent {
    @media (min-width: 991px) {
        display: none;
    }

    #carousel-restaurants-bars,
    #carousel-fitness-center {
        @media (min-width: 730px) and (max-width: 991px) {
            width: 640px;
        }
    }
}

.tab-content img {
    margin: 0 0 5px;

    @media (min-width: 0px) and (max-width: 991px) {
        margin: 0;
    }
}

.fitness-center::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.restaurants-bars::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.tabs {
    padding: 60px 0;

    @media (min-width: 0px) and (max-width: 600px) {
        padding: 30px 0;
    }
}

.tabs>ul>li {
    -webkit-tap-highlight-color: rgba(128, 128, 128, 0.6);
}

.nav-tabs>li.active>a {
    background-color: rgba(128, 128, 128, 0.24) !important;
    color: #830051 !important;
}

.tabs>ul>li>a {
    font-family: "agenda-light";
    font-size: 18px;
    color: #830051;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 250px;
    height: 70px;
    padding: 20px 0 0 0;
}

#footer-logo {
    @media (max-width: 620px) {
        display: none;
    }
}

#footer-logo>img {
    margin: 70% 0 0;
}

.footer-info-indentation {
    padding-bottom: 15px;
}

#footer-info {
    ol {
        li {
            .row {
                margin-bottom: 30px;
                margin-top: 0px;
            }
        }
    }

    @media (min-width: 540px) and (max-width: 620px) {
        font-size: 12px;
    }

    @media (min-width: 50px) and (max-width: 540px) {
        font-size: 10px;
        padding: 0;

        ol {
            padding: 0;
        }
    }
}

.footer_footer-ending h6 {
    @media (min-width: 200px) and (max-width: 495px) {
        font-size: 10px;
    }

    @media (max-width: 405px) {
        display: none;
    }
}

table {
    border: 2px ridge #830051;
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin-bottom: 5px;
}

td {
    border: 2px ridge #830051;
}

.accommodation {
    background: #f9eea4;
}

.btn_sin,
.btn_twin {
    margin-top: 12px !important;
}

.btncatalog {
    background-color: rgba(131, 0, 81, 0.5);
    color: #fff;
    border-radius: 10px;
    transition: .3s linear;
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
}

.btncatalog:hover {
    background-color: #830051;
    color: #fff;
}

.btncatalog:focus {
    color: #fff;
}

.especially-role-background a[role="button"] {
    background: #830051 !important;
    border: none !important;
    transition: .3s linear !important;
}

.especially-role-background-index a[role="button"],
.especially-role-background-newlayd a[role="button"] {
    background: rgba(131, 0, 81, 0.5) !important;
    border: none;
    transition: .3s linear;
}

.especially-role-background-newlayd a[role="button"]:hover {
    background-color: #830051 !important;
    transition: .3s linear;
}

.especially-role-background-aboutUs {
    background: rgba(0, 0, 0, 0) !important;
    border: none;
}

.main {
    font-family: "agenda-light";

    .p-double {
        p {
            margin: 0 0 5px !important;
        }
    }

    h1:first-child,
    #singl {
        margin: 10px 0 30px;
    }

    h1,
    #double {
        text-align: center;
        margin: 30px 0 20px;
    }

    h3 {
        margin: 0;
    }
}

.description {
    font-size: 18px;
}

#block-container {
    background: rgb(247, 245, 245);
    border: 1px solid rgb(206, 203, 203);
    padding: 15px 0;
}

.about_text {
    background: rgb(247, 245, 245);
    padding: 15px;
    border: 1px solid rgb(206, 203, 203);
}

.img_aboutUs {
    width: 100%;
    height: auto;
}

.carousel_block {
    margin: 5px 0;
}

.aboutUs_info {
    margin: 25px 0;
    font-family: "agenda-light";

    #block-container h3 {
        margin: 7px 0 7px 0 !important;
    }

    h3 {
        color: goldenrod;
        font-weight: bolder;
        margin: 0 0 10px 0 !important;
    }

    p {
        color: grey;
    }
}

.text>p :first-child {
    font-size: 18px;
}

.text>h2 {
    @media (max-width: 360px) {
        font-size: 25px;
    }
}

#btn-back {
    margin-left: 22px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 11px 13px;
}

#btn-back>div {
    text-shadow: black;
}

#btn-back:hover {
    background-color: #830051 !important;
    transition: .3s linear;
}

// invisible role for carousel.
.carousel_control_size {
    height: 685px;

    @media (min-width: 992px) and (max-width: 1199px) {
        height: 490px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        height: 380px;
    }

    @media (max-width: 767px) {
        height: 380px;
    }

    @media (min-width: 701px) and (max-width:766px) {
        height: 350px;
    }

    @media (min-width: 651px) and (max-width:700px) {
        height: 325px;
    }

    @media (min-width: 601px) and (max-width:650px) {
        height: 300px;
    }

    @media (min-width: 551px) and (max-width:600px) {
        height: 270px;
    }

    @media (min-width: 481px) and (max-width:550px) {
        height: 237px !important;
    }

    @media (max-width: 480px) {
        height: 237px;
    }

    @media (min-width: 401px) and (max-width:450px) {
        height: 190px !important;
    }

    @media (min-width: 376px) and (max-width: 400px) {
        height: 175px !important;
    }

    @media (min-width: 351px) and (max-width:375px) {
        height: 165px;
    }

    @media (min-width: 321px) and (max-width:350px) {
        height: 150px !important;
    }

    @media (max-width: 320px) {
        height: 150px;
    }
}

.text_p {
    font-family: "agenda-light";
    font-size: 20px;
    opacity: 0.8;


    @media(max-width: 767px) {
        font-size: 14px;
    }

    @media(max-width: 540px) {
        font-size: 12px;
    }

    @media(max-width: 480px) {
        font-size: 10px;
    }
}

.title_h3 {
    font-family: "agenda-light";
    color: rgb(201, 174, 23);
    font-size: 44px;
    font-weight: bolder;

    @media(max-width:480px) {
        font-size: 28px;
    }
}

.carousel_text {
    text-align: center;
    width: 800px;
    margin: 20px auto;

    @media (min-width: 992px) and (max-width: 1199px) {
        width: 700px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        width: 700px;
    }

    @media (max-width: 767px) {
        width: 500px;
    }

    @media(max-width: 480px) {
        width: 200px;
    }

    @media (max-width: 320px) {
        width: 200px;
    }
}

@media(max-width: 490px) {
    .aboutUs_info h3 {
        font-family: "agenda-light";
        font-size: 20px;
    }

    .aboutUs_info p {
        font-family: "agenda-light";
        font-size: 10px;
    }
}

@media (max-width: 355px) {
    .aboutUs_info h3 {
        font-size: 14px;
    }
}

@media (max-width: 340px) {
    .aboutUs_info p {
        font-size: 8px;
    }
}

.specialOffer {
    h2 {
        color: #830051;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        font-weight: bold;
    }

    a {
        color: rgb(68, 68, 68);
        font-size: 14px;
        font-weight: bold;
    }

    a:hover {
        color: #830051;
    }
}

.newlayd {
    font-family: "agenda-light";

    h3 {
        color: rgb(107, 106, 106);
        font-size: 26px;
    }

    p,
    li {
        font-size: 16px;
    }
}

.glyphicon {
    color: white;
}

.loaylty {
    font-family: "agenda-light";

    h3 {
        color: rgb(107, 106, 106);
        font-size: 26px;
    }

    h4 {
        color: goldenrod;
        font-size: 24px;
    }

    p {
        font-size: 15px;
        color: black;
    }

    li {
        font-size: 16px;
    }
}

.business {
    font-family: "agenda-light";

    h3 {
        color: rgb(107, 106, 106);
        font-size: 26px;
    }

    p {
        font-size: 15px;
        color: black;
    }

    li {
        font-size: 16px;
    }
}

#save {
    transition: all 0.4s ease-out;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.5);
}

#success-alert {
    transition: all 1s ease-out;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.success-alert-opacityNone {
    opacity: 0;
}

.panel-body {
    padding: 0px !important;

    :focus::-webkit-input-placeholder {
        color: transparent;
    }

    form {
        background: #830051;
        font-family: "agenda-light";
        color: #fff;

        label {
            font-size: 16px;
        }

        input[type="text"]::placeholder {
            font-size: 16px;
        }

        h1 {
            text-align: center;
            padding: 10px 0 20px 0;
            margin-top: 0px;
        }

        .coment {

            .row {
                margin-right: 0;
                margin-left: 0;
            }

            button {
                display: block;
                background: #c71f65;
                border: 10px;
                font-size: 18px;
                color: white;
                width: 200px;
                text-transform: uppercase;
                letter-spacing: normal;
                margin: 0 auto 20px;
            }

            h3 {
                text-align: center;
            }
        }
    }

    textarea {
        resize: none;
        color: black;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    // For form.
    .col-lg-2 {
        padding-right: 0 !important;
    }

    .alert_text {
        text-align: center;
    }

    .alert {
        h2 {
            margin: 0 !important;
        }

        height: 100px;
    }
}

.close {
    color: white !important;
    font-size: 40px !important;
    margin: 0 20px 0;
}

.has-feedback .form-control {
    padding-right: 5.5px !important;
}

//PRELOADER
.loaderArea {
    background: linear-gradient(90deg, #830051, #83000b);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

.loader {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}

.loader:before,
.loader:after {
    content: "";
    height: 40px;
    width: 40px;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: absolute;
    top: 0;
}

.loader:before {
    animation: animate 2s infinite linear;
}

@keyframes animate {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(180deg) skew(360deg);
    }
}

.loader:after {
    animation: animate2 2s infinite linear;
}

@keyframes animate2 {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(-180deg) skew(-360deg);
    }
}

#inputFirstname:invalid,
#inputSecondname:invalid,
#inputEmail:invalid {
    color: red;
}